body {
	font-family: sans-serif;	
	background-image: url(/static/img/login.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 160px;
	background-size:cover;
}

.container {
	width: 400px;
	margin: 130px;
	border-radius: 25px;
	background: rgba(0, 0, 0, 0.438);
	box-shadow: 0 0 17px #333;
	
}

.header {
	text-align: center;
	padding-top: 25px;
}

.header h1 {
	color: rgb(245, 224, 224);
	font-size: 45px;
	margin-bottom: 40px;
}

.main {
	text-align: center;
	padding-bottom: 8px;
}

.main input, button {
	width: 300px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 20px;
}

.main button {
	padding-left: 0;
	background-color: #ee3818;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 30px;
}

.main button:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #e69327;
}
.main input:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #ddd;
}

.main span {
	position: relative;
}

.main i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 16px;
	top: 2px;
}

.text-uppercase{
	text-decoration: none;
	font-size: 15px;
    line-height: 20px;
	color: #fffaf9;
	margin-bottom: 10px;

}

.text-uppercase :hover{
	color: #e69327;
}
























